<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="/fragments/head"></div>
  <body>
  <div th:replace="/fragments/header"></div>
<!--  content start-->
  <div class="content">
    <div class="title">
      <h1 th:text="#{managerStudent}">Quản Lý Sinh Viên</h1>
    </div>
    <ul class="list-buttons">
      <li>
        <button th:onclick="|window.location.href='/student/list'|" th:text="#{list}">Danh Sách</button>
        <button th:onclick="|window.location.href='/student/save'|" th:text="#{create}">Tạo Mới</button>
      </li>
    </ul>
  </div>
<!--    content end  -->
    <div th:replace="/fragments/script"></div>
  </body>
</html>